<div class="chat-container">
  <h1>Let's Chat</h1>
  <div class="message-list">
    <ul>
      <li *ngFor="let msg of messages" [ngClass]="{'sent': msg.sender === username, 'received': msg.sender !== username}">
        <span *ngIf="!msg.image">{{ msg.text }}</span>
        <img *ngIf="msg.image" [src]="msg.image" alt="Image" class="chat-image" />
      </li>
    </ul>
  </div>
  <div class="input-area">
    <div class="textarea-container">
      <input
        type="text"
        [(ngModel)]="message"
        placeholder="Type your message..."
        class="message-input"
        (keyup.enter)="sendMessage()" />
      
      <input
        type="file"
        (change)="onFileSelected($event)"
        accept="image/*"
        style="display: none;"
        #fileInput />

      <button class="image-upload-button" (click)="fileInput.click()">
        <i class="fa-solid fa-upload"></i> 
      </button>

      <button class="sbutton" (click)="sendMessage()">
        <i class="fa-solid fa-circle-arrow-right"></i>
      </button>
    </div>
  </div>
</div>
