<div class="login-container">
    <div class="login-card">
        <img src="../../assets/pngwing.com.png" alt="Logo" class="logo" /> <!-- Replace with your logo path -->
        <h1>Login</h1>
        <p>Please select a user to continue.</p>
        <div class="login-card1">
            <select [(ngModel)]="selectedUser">
                <option value="">Select a user</option>
                <option value="Kavin">Kavin</option>
                <option value="Gokul">Gokul</option>
            </select>
        </div>
        
        <button (click)="login()">Login</button>

    </div>
</div>
